/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Case Problem 1

   Comment Form Style Sheet
   Author: Alex Rivera
   Date: 6-26-2023

   Filename:         comments.css
   Supporting Files: go.png, stop.png

*/

#commentsFS {
  background-color: rgb(245, 245, 245);
  margin: 15px auto;
  padding: 5px;
  width: 90%;
}

#commentsFS label {
  display: block;
  float: left;
  clear: left;
  font-size: 0.9em;
  width: 100%;
  margin: 5px 0;
}

#commentsFS input[type="text"], #commentsFS textarea {
  display: block;
  float: right;
  font-size: 0.9em;
  width: 55%;
  margin: 0 10px;
}

#commentsFS textarea {
  height: 150px;
}

#commentsFS button[type="submit"] {
  display: block;
  clear: both;
  width: 200px;
  height: 30px;
  margin: 5px auto;
}

input:focus {
  background-color: rgb(225, 225, 240);
}

input:focus:valid {
  background-color: rgb(225, 240, 225);
  background-image: url(go.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

input:focus:invalid {
  background-color: rgb(240, 225, 225);
  background-image: url(stop.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}