/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Case Problem 1

   Comment Form Style Sheet
   Author: Alex Rivera
   Date: 6-26-2023

   Filename:         comments.css
   Supporting Files: go.png, stop.png

*/

#commentsFS {
  background-color: rgb(245, 245, 245);
  margin: 15px auto;
  padding: 5px;
  width: 90%;
}

#commentsFS label {
  display: block;
  float: left;
  clear: left;
  font-size: 0.9em;
  width: 100%;
  margin: 5px 0;
}

