/*
   New Perspectives on HTML
   Tutorial 3
   Case Problem 1

   ICI Text and Color Styles
   Author: Alex Rivera
   Date: 6/5/2023

   Filename:         c_styles.css
   Supporting Files: none

*/
body {
background-color: black;
color: white;
}